<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="src/test/java">

	<test thread-count="5" name="tests">

		<classes>
			<class name="tests.TC__001_RegistrationTest"></class>
			<class name="tests.TC__002_LoginTest"></class>
			<class name="tests.TC__003_ForgetPasswordTest"></class>
			<class name="tests.TC__004_HomePageAppointmentTest"></class>
			<class name="tests.TC__005_ToDoListTest"></class>
			<class name="tests.TC__006_AddPatientTest"></class>
			<class name="tests.TC__007_PatientVisitTest"></class>
			<class name="tests.TC__008_ViewOrEditTest"></class>
			<class name="tests.TC__009_AppointmentsCalenderTest"></class>
			<class name="tests.TC__010_AddPrescriptionTest"></class>
			<class name="tests.TC__011_ViewPrescriptionTest"></class>
			<class name="tests.TC__012_AddBillTest"></class>
			<class name="tests.TC__013_ViewBillTest"></class>
			<class name="tests.TC__014_ReportsTest"></class>
			</classes>
	</test> <!--Test -->
</suite> <!--Suite -->
